body {
    font-size: 20px;
    padding: 10px;
    margin:10;

}

header {
    font-size: 26px;
    padding: 10px;
    margin:10;
    color:#ffd2a5;
    background-color: #8a79af;
    text-align: center;

}
#entries {
    padding: 15px;
    margin:15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #d38cad;
}

.single{
    margin: 15px;
    padding: 5px;
    background-color: #ffd2a5;
}
form{
    margin: 15px;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #8a79af;

}